<section class="downloadPlatformSection windows" id="downloadsWindowsSection">
  <header>
    <img
      src="img/os/winlogo.svg"
      alt="Windows 11 logo"
      height="32">
    <h3>Windows 11</h3>
  </header>
  <p>Also works for: Windows 7 / 8 / 10</p>
  <a class="mainDownloadBtn" href="https://www.fosshub.com/qBittorrent.html">
    <p>Download qBittorrent (v{{ win.ver }}) for Windows</p>
  </a>
  <details>
    <summary class="downloadsOptions">See additional download options</summary>
    <table class="downloadsTable">
      <thead>
        <tr>
          <th>Installer (64-bit)</th>
          <th>Info</th>
          <th>Mirrors</th>
          <th>PGP Signature</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="https://www.fosshub.com/qBittorrent.html">{{ win.ver }}</a>
          </td>
          <td>Uses Qt5 and libtorrent 1.2.x series</td>
          <td>
            <a href="https://www.fosshub.com/qBittorrent.html?dwl=qbittorrent_{{win.ver}}_x64_setup.exe">FossHub</a>,
            <a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-win32/qbittorrent-{{win.ver}}/qbittorrent_{{win.ver}}_x64_setup.exe/download">SourceForge</a>
          </td>
          <td>
            <a href="https://www.fosshub.com/qBittorrent.html?dwl=qbittorrent_{{win.ver}}_x64_setup.exe.asc">FossHub</a>,
            <a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-win32/qbittorrent-{{win.ver}}/qbittorrent_{{win.ver}}_x64_setup.exe.asc/download">SourceForge</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.fosshub.com/qBittorrent.html">{{ win.ver }}<br>(lt20 qt5)</a>
          </td>
          <td>Uses Qt5 and libtorrent 2.0.x series</td>
          <td>
            <a href="https://www.fosshub.com/qBittorrent.html?dwl=qbittorrent_{{win.ver}}_lt20_qt5_x64_setup.exe">FossHub</a>,
            <a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-win32/qbittorrent-{{win.ver}}/qbittorrent_{{win.ver}}_lt20_qt5_x64_setup.exe/download">SourceForge</a>
          </td>
          <td>
            <a href="https://www.fosshub.com/qBittorrent.html?dwl=qbittorrent_{{win.ver}}_lt20_qt5_x64_setup.exe.asc">FossHub</a>,
            <a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-win32/qbittorrent-{{win.ver}}/qbittorrent_{{win.ver}}_lt20_qt5_x64_setup.exe.asc/download">SourceForge</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.fosshub.com/qBittorrent.html">{{ win.ver }}<br>(qt6)</a>
          </td>
          <td>For Windows 10+. Uses Qt6 and libtorrent 1.2.x series</td>
          <td>
            <a href="https://www.fosshub.com/qBittorrent.html?dwl=qbittorrent_{{win.ver}}_qt6_x64_setup.exe">FossHub</a>,
            <a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-win32/qbittorrent-{{win.ver}}/qbittorrent_{{win.ver}}_qt6_x64_setup.exe/download">SourceForge</a>
          </td>
          <td>
            <a href="https://www.fosshub.com/qBittorrent.html?dwl=qbittorrent_{{win.ver}}_qt6_x64_setup.exe.asc">FossHub</a>,
            <a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-win32/qbittorrent-{{win.ver}}/qbittorrent_{{win.ver}}_qt6_x64_setup.exe.asc/download">SourceForge</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://www.fosshub.com/qBittorrent.html">{{ win.ver }}<br>(lt20 qt6)</a>
          </td>
          <td>For Windows 10+. Uses Qt6 and libtorrent 2.0.x series</td>
          <td>
            <a href="https://www.fosshub.com/qBittorrent.html?dwl=qbittorrent_{{win.ver}}_lt20_qt6_x64_setup.exe">FossHub</a>,
            <a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-win32/qbittorrent-{{win.ver}}/qbittorrent_{{win.ver}}_lt20_qt6_x64_setup.exe/download">SourceForge</a>
          </td>
          <td>
            <a href="https://www.fosshub.com/qBittorrent.html?dwl=qbittorrent_{{win.ver}}_lt20_qt6_x64_setup.exe.asc">FossHub</a>,
            <a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-win32/qbittorrent-{{win.ver}}/qbittorrent_{{win.ver}}_lt20_qt6_x64_setup.exe.asc/download">SourceForge</a>
          </td>
        </tr>
      </tbody>
    </table>
  </details>
  <details>
    <summary>Checksums and Library versions</summary>
    <table class="downloadsTable">
      <thead>
        <tr>
          <th>
            <strong>Version</strong>
          </th>
          <th>
            <strong>SHA2-256</strong>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ win.ver }}</td>
          <td class="wordBreak">
            <code>{{ win.hash_qt5_lt12 }}</code>
          </td>
        </tr>
        <tr>
          <td>{{ win.ver }} (lt20 qt5)</td>
          <td class="wordBreak">
            <code>{{ win.hash_qt5_lt20 }}</code>
          </td>
        </tr>
        <tr>
          <td>{{ win.ver }} (qt6)</td>
          <td class="wordBreak">
            <code>{{ win.hash_qt6_lt12 }}</code>
          </td>
        </tr>
        <tr>
          <td>{{ win.ver }} (lt20 qt6)</td>
          <td class="wordBreak">
            <code>{{ win.hash_qt6_lt20 }}</code>
          </td>
        </tr>
        <tr>
          <td>{{ win.ver_unstable }} (lt12 qt6)</td>
          <td class="wordBreak">
            <code>{{ win.hash_qt6_lt12_unstable }}</code>
          </td>
        </tr>
        <tr>
          <td>{{ win.ver_unstable }} (lt20 qt6)</td>
          <td class="wordBreak">
            <code>{{ win.hash_qt6_lt20_unstable }}</code>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="downloadsTable">
      <thead>
        <tr>
          <th>
            <strong>Library</strong>
          </th>
          <th>
            <strong>Version</strong>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="nobr">libtorrent-rasterbar</td>
          <td>{{ win.lt_ver }}</td>
        </tr>
        <tr>
          <td>Qt</td>
          <td>
            {{ win.qt_ver }}
          </td>
        </tr>
        <tr>
          <td>Boost</td>
          <td>{{ win.boost_ver }}</td>
        </tr>
        <tr>
          <td class="nobr">libtorrent-rasterbar (unstable)</td>
          <td>{{ win.lt_ver_unstable }}</td>
        </tr>
        <tr>
          <td>Qt (unstable)</td>
          <td>
            {{ win.qt_ver_unstable }}
          </td>
        </tr>
        <tr>
          <td>Boost (unstable)</td>
          <td>{{ win.boost_ver_unstable }}</td>
        </tr>
      </tbody>
    </table>
  </details>
  <p class="importantNote">
    <strong>Warning:</strong>
    The builds based on Qt6 need Windows 10 or above
    <em>(64-bit only)</em>.
  </p>
  <aside class="betaDownloadsSection">
    <h4>
      {% heroicon "outline" "beaker" %} Beta (v{{ win.ver_unstable }})
    </h4>
    <a href="https://www.fosshub.com/qBittorrent.html">
      <p>Download qBittorrent Beta for Windows</p>
    </a>
    <details>
      <summary class="downloadsOptions">See additional download options</summary>
      <table class="downloadsTable">
        <thead>
          <tr>
            <th>Installer (64-bit)</th>
            <th>Info</th>
            <th>Mirrors</th>
            <th>PGP Signature</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="https://www.fosshub.com/qBittorrent.html">{{ win.ver_unstable }} (lt12 qt6)</a>
            </td>
            <td>For Windows 10+. Uses Qt6 and libtorrent 1.2.x series</td>
            <td>
              <a href="https://www.fosshub.com/qBittorrent.html?dwl=qbittorrent_{{win.ver_unstable}}_lt12_qt6_x64_setup.exe">FossHub</a>,
              <a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-unstable/qbittorrent-{{win.ver_unstable}}/Windows/qbittorrent_{{win.ver_unstable}}_lt12_qt6_x64_setup.exe/download">SourceForge</a>
            </td>
            <td>
              <a href="https://www.fosshub.com/qBittorrent.html?dwl=qbittorrent_{{win.ver_unstable}}_lt12_qt6_x64_setup.exe.asc">FossHub</a>,
              <a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-unstable/qbittorrent-{{win.ver_unstable}}/Windows/qbittorrent_{{win.ver_unstable}}_lt12_qt6_x64_setup.exe.asc/download">SourceForge</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="https://www.fosshub.com/qBittorrent.html">{{ win.ver_unstable }} (lt20 qt6)</a>
            </td>
            <td>For Windows 10+. Uses Qt6 and libtorrent 2.0.x series</td>
            <td>
              <a href="https://www.fosshub.com/qBittorrent.html?dwl=qbittorrent_{{win.ver_unstable}}_lt20_qt6_x64_setup.exe">FossHub</a>,
              <a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-unstable/qbittorrent-{{win.ver_unstable}}/Windows/qbittorrent_{{win.ver_unstable}}_lt20_qt6_x64_setup.exe/download">SourceForge</a>
            </td>
            <td>
              <a href="https://www.fosshub.com/qBittorrent.html?dwl=qbittorrent_{{win.ver_unstable}}_lt20_qt6_x64_setup.exe.asc">FossHub</a>,
              <a href="https://sourceforge.net/projects/qbittorrent/files/qbittorrent-unstable/qbittorrent-{{win.ver_unstable}}/Windows/qbittorrent_{{win.ver_unstable}}_lt20_qt6_x64_setup.exe.asc/download">SourceForge</a>
            </td>
          </tr>
        </tbody>
      </table>
    </details>
  </aside>
</section>